body {
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('hamburg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    text-align: center
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding: 10px;
    text-align: center;
    background-color: #9db959;
    color: white;
}

#titulo {
    color: white;
}

.input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.input:hover,
.input:focus {
    border: 2px solid #afcb6a;
    box-shadow: 0px 0px 0px 7px #65832565;
    background-color: white;
}

.card {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #ffffff30;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
}

.remove{
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #c61c1c;
    color: white;
    border-radius: 6px;
    margin: 5px;
    width: 15em;
}

.remove:hover {
    background: rgba(41, 40, 51, 0.172);
    background: linear-gradient(90deg, #c61c1c 0%, #ff7272 100%);
}

.card1 {
    width: 900px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #ffffff30;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #789536;
    color: white;
    border-radius: 6px;
    margin: 5px;
    width: 15em;
}

button:hover {
    background: rgba(41, 40, 51, 0.172);
    background: linear-gradient(90deg, #789536 0%, #9db959 100%);
}

.bordinha {
    border-color: red;
}